#<%if user_signed_in?%>
  
<% @users.each do |user| %>
    <div class="user_con">
      <div class="user_img">
        <%= image_tag("image5.png", width:'150px', height:'200px') %>
      </div>
      <div class="user_data">
        <%= link_to user_path(user.id) do %>
        <h2><%= user.name%></h2>
        <% end %>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
    <%end%>

  # <%elsif user_signed_out?%>
   #  <h1 class="notlogged-header"> Welcome to BlogApp </h1>
    # <div class="notlooged-btn-container">
     # <%= link_to "Log in", new_user_session_path, class:"notlogged-btn signin" %>
     # <%= link_to "Create account", new_user_registration_path, class:"notlogged-btn create" %>
      #</div>
   # <%end %>
